<div>
    <br> {{fem1}} and her ex-husband {{male1}} were seen last night at the Twenty-Three club holding {{pnoun}}.Could it be reconciliation?
    <br> The international heartthrob, {{male2}} and the glamorous top model {{female2}} are expecting their first baby in November.
    <br> {{fem2}} is denying stork rumors, but yesterday she was buying maternity {{clothing}}.
    <br>
</div>