<form method = "post" action = "madlibsHandler">
    <lable>Article of clothing: </lable>
    <br>
    <input type = "text" name = "clothing" placeholder = "Clothing">
    <br>
    <lable>Female Person You Know #1: </lable>
    <br>
    <input type = "text" name = "fem1" placeholder = "Clothing">
    <br>
    <lable>Female Person You Know #2: </lable>
    <br>
    <input type = "text" name = "fem2" placeholder = "Clothing">
    <br>
    <lable>Male Person You Know #1: </lable>
    <br>
    <input type = "text" name = "male1" placeholder = "Clothing">
    <br>
    <lable>Male Person You Know #2: </lable>
    <br>
    <input type = "text" name = "male2" placeholder = "Clothing">
    <br>
    <lable>Plural Noun: </lable>
    <br>
    <input type = "text" name = "pnoun" placeholder = "Clothing">
    <br>
    <input type = "submit" value = "Submit">
</form>


{{!-- ---------- scrap code --}}

{{!-- <h1>MadLibs: Input Your Word Choices</h1>
<div>
    Article of Clothing:
    <input type="text">
    <br> Female Person You Know #1:
    <input type="text">
    <br> Female Person You Know #1:
    <input type="text">
    <br> Male Person You Know #1:
    <input type="text">
    <br> Male Person You Know #1:
    <input type="text">
    <br> Plural Noun:
    <input type="text" name="pnoun">
    <br>
    <br>
    <input type="submit" value="See the result!">
</div> --}}

{{!-- <form method = "post" action = "formHandler">
    <lable>Enter a title </lable><br>
    <input type = "text" name = "title" placeholder = "Enter a title"><br>
    <label>Enter a Paragraph</label> <br>
    <textarea name = "paragraph" id = "paragraph" col = "80" rows = "10"></textarea><br>
    <input type = "submit" value = "Post something">
</form>

{{#if pnoun}}

{{/if}}

<h1>{{title}}</h1>
<p>Today is {{dates}}</p>
<p>You visited this page <strong>{{views}}</strong> times </p>

<!-- if views == 1 -->
<div class="entry">
  {{#if author}}
    <h1>{{firstName}} {{lastName}}</h1>
  {{/if}}
</div> --}}